/* lab1 */

body, html {
    height: 100%;
    overflow: hidden;
    background-color: #0e3e4d;
}

.col {
    margin: 0;
    padding: 0;
}

.row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
}

.card {
    margin: 0px;
    padding: 10px;
    height: 100%;
    background: #f0f7f7;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}


.form-inline {
    margin-top: 16px;
}


#top-panel {
    height: 50%;
    padding: 0 0 5px 10px;
}

#top-panel-left, #bottom-panel-left {
    margin-right: 5px;
}
#top-panel-right, #bottom-panel-right {
    margin-left: 5px;
}

#bottom-panel {
    height: 50%;
    padding: 5px 0 0 10px;
}

#bottom-panel-left > button {
    margin-bottom: 10px;
}

/* #bottom-panel-left > table {
    margin-top: 20px;
} */


.scrollbar {
    position: relative;
    height: 100%;
    overflow: auto;
}
.table-scroll-y {
    display: block;
}

.top {
    position: absolute;
    background: radial-gradient(circle, rgba(2,0,36,0.9) 0%, rgba(20,32,69,0.9) 54%, rgba(12,7,29,0.9) 100%);
    width: 91%;
    height: 96%;
    justify-content: center;
    z-index: 1;
}


.line {
    fill: red;
    opacity: 0.3;
    stroke: #ffab00;
    stroke-width: 1;
}

.overlay {
    fill: none;
    pointer-events: all;
}


.dot1 {
    fill: red;
    /* stroke: #fff; */
}

.dot2 {
    fill: green;
    /* stroke: #fff; */
}
  
.focus {
    r: 8px;
}

.selected {
    background-color: white;
}

.cir {
    /* stroke: black;
    stroke-width: 5px;
    fill: none; */
}

.result {
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.resultfocus {
    stroke-width: 5px;
}